.container {
    padding: 5% 0 0 0;
}

h1 {
    text-align: center;
}

li {
    display: inline-flex;
    list-style: none;
}

i {
    font-size: 10em
}

.icon,.icon-header{
    text-align: center;
}
.titre{
    padding:5px 0;
}
li>a>i {
    font-size: 4em;
}


@media(min-width: 550px) {
    .check-renvoi {
        float: right;
        margin-top: 12px;
    }

    a {
        color: #000
    }
    li>a>i {
        font-size: 2em;
    }
    .icon-header{
        text-align: left;
    }
    i {
        font-size: 9em
    }
}

p:first-of-type {
    margin-bottom: 0
}