.container {
    padding: 5% 0 0 0;
}

h1 {
    text-align: center;
}

li {
    display: inline-flex;
    list-style: none;
}

i{
font-size: 7em}
.icon,.icon-header{text-align: center}
.titre{padding:5px 0}
li>a>i {font-size: 4em}

.tooltip{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.FA {
    padding: 5px;
}
@media(min-width: 550px) {
    .check-renvoi {
        float: right;
        margin-top: 12px;
    }
    a {color: #000}
    li>a>i {font-size: 2em}
    .icon-header{text-align: left}
    #photo-projet-1{
        content: url(image/photo-projet-1.webp);
        width: 100%;
    }
    #photo-projet-SuperM{
        content: url(image/Projet-SuperM.webp);
    }
}
p:first-of-type {
    margin-bottom: 0
}
.outils{
    font-size: 0.8em;
}
@media (min-width: 769px) {
    /* affichage info bulle pour minimum ordinateur */ 
    .tooltip{
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .tooltip:hover .tooltext{
        visibility: visible;
        opacity: 1;
    }
    .tooltext{
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 98%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    i {font-size: 10em}
    
}